.DS_Store

node_modules
/.svelte-kit
/functions
/src/json
/src/static/latex

build_config.txt
/generate_source/source
/generate_source/generated
/courses
cookies.txt
/build
/formulas
/overleafv2-git-integration-unofficial
overleafv2-git.py
overleafv2-git
.overleafv2-git
